.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cities,
.addCity {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 800px) {
  .cities,
  .addCity {
    grid-template-columns: repeat(2, 1fr);
  }
}
